.cursor {
	cursor: url('/entries/entry7/final/img/finger.png'), auto;
}

* {box-sizing: border-box;}

body {
   font-size: 15px;
   background-color: #a0dfff;
  }

.mainlogo {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: -100px;
  margin-bottom: -100px;
  padding-bottom: -300px;

}

.sublogo {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: -310px;
  margin-bottom: -100px;
  padding-top: -300px;
  padding-bottom: -300px;
}

.wallet {
  width: 100%;
  height: 100%;
  max-width: 30%;
  margin-top: -230px;
  margin-left: 35%;
  margin-right: 50%;
  margin-bottom: -300px;
  padding-top: -300px;
  padding-bottom: -3000px;
  position: absolute;
}

@keyframes shake {
  0%, 100% {
    transform: rotate(0deg);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: rotate(-40deg);
  }
  20%, 40%, 60%, 80% {
    transform: rotate(40deg);
  }
}

.shaking-element {
  animation: shake 6s infinite;
  transform-origin: center; /* This keeps one vertex fixed */
}


.coin1{
  height: 196px;
  top: 3920px;
  position: absolute;
  width: 223px;
  margin:0 auto;
  left: 80%;
  transform:translateX(-70%);
  -webkit-transform:translateX(-56.5%);
}

.coin2{
  height: 140px;
  top: 999px;
  position: absolute;
  width: 128px;
  margin:0 auto;
  left:60%;
  transform: scale(0.5);
}

.coin3{
  height: 75px;
  top: 1474px;
  position: absolute;
  width: 223px;
  margin:0 auto;
  left:90%;
  transform:translateX(-70%);
  -webkit-transform:translateX(-56.5%);
  transform: scale(0.5);
}

.coin4{
  height: 128px;
  top: 2578px;
  position: absolute;
  width: 140px;
  margin:0 auto;
  left: 4%;
  transform:translateX(-70%);
  -webkit-transform:translateX(-56.5%);
}

.coin5{
  height: 177px;
  top: 2974px;
  position: absolute;
  width: auto;
  margin:0 auto;
  left: 10%;
  transform:translateX(-70%);
  -webkit-transform:translateX(-56.5%);
}

.coin6{
  height: 144px;
  top: 2976px;
  position: absolute;
  width: auto;
  margin:0 auto;
  left:90%;
  transform:translateX(-70%);
  -webkit-transform:translateX(-56.5%);
}

.coin7{
  height: 101px;
  top: 3292px;
  position: absolute;
  width: auto;
  margin:0 auto;
  left:20%;
  transform:translateX(-70%);
  -webkit-transform:translateX(-56.5%);
}

.money1 {
  position: absolute;
  width: 212px;
  height: 357px;
  top: 1046px;
  left: 20%;
  transform:translateX(-70%);
  -webkit-transform:translateX(-56.5%);
  transform: scale(0.5);
}

.money2 {
  position: absolute;
  width: 220px;
  height: 208px;
  top: 3446px;
  left: 20%;
  transform:translateX(-70%);
  -webkit-transform:translateX(-56.5%);
  transform: scale(0.5);
}

.money3 {
  position: absolute;
  width: 300px;
  height: 269px;
  top: 1211px;
  left: 30%;
  -webkit-transform:translateX(-56.5%);
  transform: scale(0.2);
}

.money4 {
  position: absolute;
  width: 210px;
  height: 304px;
  top: 4065px;
  left: 70%;
  transform:translateX(-70%);
  -webkit-transform:translateX(-56.5%);
  padding-bottom: 300px;
  transform: scale(0.7);
  
}

.money5 {
  position: absolute;
  width: 251px;
  height: 286px;
  top: 742px;
  transform:translateX(-70%);
  -webkit-transform:translateX(-56.5%);
  padding-bottom: 300px;
  transform: scale(0.2);
}

.money6 {
  position: absolute;
  width: 265px;
  height: 1345px;
  top: 3706px;
  left: 50%;
  transform:translateX(-70%);
  -webkit-transform:translateX(-56.5%);
  padding-bottom: 300px;
  
}

.money7 {
  position: absolute;
  width: 294px;
  height: 381px;
  top: 2820px;
  left: 80%;
  transform:translateX(-70%);
  -webkit-transform:translateX(-56.5%);
  padding-bottom: 300px;
    transform: scale(0.5);
}

.money8 {
  position: absolute;
  width: 294px;
  height: 381px;
  top: 4120px;
  left: 90%;
  transform:translateX(-70%);
  -webkit-transform:translateX(-56.5%);
  padding-bottom: 300px;
}


.calipo {
  width: 50%;
  max-width: 50%;
  margin-top: 310px;
  margin-bottom: -700px;
  margin-left: 1%;
  padding-top: -300px;
  padding-bottom: -900px;
  padding-left: 1%;

}

@keyframes slideDown1 {
  from {
    transform: translateY(-100%) scale(0.2);
  }
  to {
    transform: translateY(3350px) scale(0.2);

  }
}

.calipo.animated-element {
  animation-name: slideDown1;
  animation-duration: 6s;
}

.calipo_text {
  transform: scale(0.3);
  margin-bottom: -300px;
  margin-right: 40%;
  box-shadow: black 10px;
  filter: drop-shadow(0 0 0.75rem black)
}

.noodle {
  width: 50%;
  max-width: 50%;
  top: 2042px;
  margin-top: 310px;
  margin-bottom: -100px;
  margin-left: 60%;
  padding-top: -300px;
  padding-bottom: -300px;
  /* If there's a static transform, include it here */
}

@keyframes slideDown2 {
  from {
    transform: translateY(-50%) scale(0.3); /* Include any static transform here, if necessary */
  }
  to {
    transform: translateY(3240px) scale(0.3); /* Include any static transform here, if necessary */
  }
}

.noodle.animated-element {
  animation-name: slideDown2;
  animation-duration: 6s;
}

.noodle_text {
  transform: scale(0.3);
  margin-top : -500px;
  margin-bottom: -1100px;
  margin-left: -500px;
  filter: drop-shadow(0 0 0.75rem black)
}

.airpods {
  width: 50%;
  max-width: 50%;
  margin-top: auto;
  margin-bottom: -100px;
  margin-left: 5%;
  padding-top: -300px;
  padding-bottom: -300px;
}

.airpods_text {
  transform: scale(0.3);
  margin-bottom: -300px;
  margin-top: -600px;
  filter: drop-shadow(0 0 0.75rem black)
}

@keyframes slideDown3 {
  from {
    transform: translateY(-50%) scale(0.3); /* Include any static transform here, if necessary */
  }
  to {
    transform: translateY(2900px) scale(0.3); /* Include any static transform here, if necessary */
  }
}

.airpods.animated-element {
  animation-name: slideDown3;
  animation-duration: 6s ;
}

.corn_text {
  transform: scale(0.3);
  margin-top : -800px;
  margin-bottom: -1100px;
  margin-left: -500px;
  filter: drop-shadow(0 0 0.75rem black)
}


.corn {
  width: 50%;
  max-width: 50%;
  margin-top: 10px;
  margin-bottom: -100px;
  margin-left: 60%;
  margin-right: 40%;
  padding-top: -300px;
  padding-bottom: -300px;
}


@keyframes slideDown4 {
    from {
      transform: translateY(-100%) scale(0.3); /* Include any static transform here, if necessary */
    }
    to {
      transform: translateY(2490px) scale(0.3); /* Include any static transform here, if necessary */
    }
  }

.corn.animated-element {
  animation-name: slideDown4 ;
  animation-duration: 5.5s;
}

.purple {
  width: 50%;
  max-width: 50%;
  margin-top: -515px;
  margin-bottom: -100px;
  margin-left: 3%;
  padding-top: -300px;
  padding-bottom: -300px;
  position: relative;
}

.yellow {
  width: 50%;
  max-width: 50%;
  margin-top: -515px;
  margin-bottom: 500px;
  margin-left: 55%;
  margin-right: 40%;
  padding-top: -300px;
  padding-bottom: -300px;
  position: relative;
}

.convey{
  transform: scale(0.3);
  max-width: 1%;
  left: 10%;
}

.responsive-image {
  width: 100%;
  height: auto;
  max-width: 1000px; /* 이미지 최대 너비 지정 */
}


body {
  width: auto;
  height: auto;
  max-width: auto;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.responsive-image {
  width: 100%;
  height: auto;
  max-width: 100%; /* Ensure images don't exceed their container */
}


@media (min-width: 0px) {
  .body {

  }
  .responsive-image {
    width: 100%;
    height: auto;
    max-width: 750px;
 }
 .mainlogo {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: -100px;
  margin-bottom: -400px;
  padding-bottom: -300px;

}
.sublogo {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: -10px;
  margin-bottom: -30px;
  padding-top: -300px;
  padding-bottom: -700px;
}
 .wallet {
  width: 100%;
  height: 100%;
  max-width: 30%;
  margin-top: -500px;
  margin-left: 35%;
  margin-right: 50%;
  margin-bottom: -300px;
  padding-top: -300px;
  padding-bottom: -3000px;
  position: relative;
}

.purple, .yellow {
  display: block;
  width: 10%;
  transform: scale(0.5);
}


}


/* Tablet breakpoint */
@media (min-width: 768px) {
  .body {

  }
  .responsive-image {
    width: 100%;
    height: auto;
    max-width: 750px;
 }
 .sublogo {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: -30px;
  margin-bottom: -500px;
  padding-top: -300px;
  padding-bottom: -800px;
}
 .wallet {
  width: 100%;
  height: 100%;
  max-width: 30%;
  margin-top: -100px;
  margin-left: 35%;
  margin-right: 50%;
  margin-bottom: -300px;
  padding-top: -300px;
  padding-bottom: -3000px;
  position: relative;
}

.purple, .yellow {
  display: block;
  width: 100%;
  transform: scale(0.8);
}

}

/* Desktop breakpoint */
@media (min-width: 992px) {
  .body {

  }
  .responsive-image {
    width: 100%;
    height: auto;
    max-width: 750px;
  }
  .mainlogo {
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin-top: -100px;
    margin-bottom: -100px;
    padding-bottom: -300px;
  
  }
  
  .sublogo {
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin-top: -310px;
    margin-bottom: -300px;
    padding-top: -300px;
    padding-bottom: -300px;
  }
  

}

/* Wide screen breakpoint */
@media (min-width: 1200px) {
  body {

  }
  .responsive-image {
    width: 100%;
    height: auto;
    max-width: 1000px; /* 이미지 최대 너비 지정 */
  }
}

