.cursor {
  cursor: url('menu/entries/entry5/final/img/fingercursor.png'), auto;
}

body {
  font-family: arial, sans-serif;
  text-align: center;
  font-size: 30px;
  line-height: 1.4;
  background-image: url("img/mall.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
font-family: Tahoma;
max-width: 1000px;
padding: 100px 30px;
margin: auto;
font-weight: 300;
}

.content p {
font-family: Tahoma;
margin-bottom: 80px;
position: relative;
}


.allcaps {
font-family: Tahoma;
font-size: 37px;
letter-spacing: 2px;
}


.long-way {
font-family: Tahoma;
font-style: italic;
transition: all 10s ease-in-out;
color: #ffffff;
}

.long-way:hover {
font-family: Tahoma;
cursor: pointer;
font-size: 2em;
}

.simplelink {
font-family: Tahoma;
text-decoration: none;
color: #000;
background-color: #f2e1ff;
transition: all 0.1s ease;
}

.simplelink:hover {
font-family: Tahoma;
background-color: pink;
}

.regretful {
background-color: #cb64ff;
-webkit-animation: none;
-moz-animation: none;
animation: none;
}

.regretful:hover {
cursor: pointer;
background: linear-gradient(270deg, #540051, #ff36d0, #d900ff, #b067ff, #5506e8);
background-size: 1000% 1000%;

-webkit-animation: slideBackground 2s ease infinite;
-moz-animation: slideBackground 2s ease infinite;
animation: slideBackground 2s ease infinite;
}

.satisfied {
background-color: #ff8800;
-webkit-animation: none;
-moz-animation: none;
animation: none;
}

.satisfied:hover {
cursor: pointer;
background: linear-gradient(270deg, #ff7300, #ffb300, #ff9d00, #ffc228, #ffae0c);
background-size: 1000% 1000%;

-webkit-animation: slideBackground 2s ease infinite;
-moz-animation: slideBackground 2s ease infinite;
animation: slideBackground 2s ease infinite;
}

  @-webkit-keyframes slideBackground {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes slideBackground {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes slideBackground {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }

  body {
    font-size: 15px;
    /* Other mobile styles here */
  }

  .responsive-image {
    width: 100%;
    height: auto;
    max-width: 1000px; /* 이미지 최대 너비 지정 */
  }
  
  /* Tablet breakpoint */
  @media (min-width: 768px) {
    .body {
      font-size: 5px;
    }
    .responsive-image {
      width: 100%;
      height: auto;
      max-width: 750px;
   }
}
  
  /* Desktop breakpoint */
  @media (min-width: 992px) {
    .body {
      font-size: 10px;
    }
    .responsive-image {
      width: 100%;
      height: auto;
      max-width: 750px;
    }
  }
  
  /* Wide screen breakpoint */
  @media (min-width: 1200px) {
    body {
      font-size: 15px;
    }
    .responsive-image {
      width: 100%;
      height: auto;
      max-width: 1000px; /* 이미지 최대 너비 지정 */
    }
  
  }
