.cursor {
	cursor: url('menu/entries/entry6/final/img/cursor.png'), auto;
}


* {box-sizing:  border-box;}


body {
  margin: 20px;
  padding: 0;
  background-color: #ececec;
}

.h1 {
  font-family: "brushberry-script", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  font-weight: normal;
  letter-spacing: -10px;
  word-spacing: -5px;
  color: #004c22;
}

.container1{
  font-family: "brushberry-script", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  display: grid;
  grid-template-columns: 1fr;
  word-spacing: -5px;
  letter-spacing: -5px;
  column-gap: 0px; /* Gap between columns */
  row-gap: 0px; /* Gap between rows */
  color: #00460c;
  text-align: center;
  margin: 0;
  padding: 0;
}

.section-heading {
  font-family: "brushberry-script", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 119, 0);
  font-size: 30px;
  text-align: center; 
}

.section-heading span {
  font-family: "brushberry-script", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(157, 0, 255);
}

.container2{
  font-family: "brushberry-script", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr;  
  column-gap: 10px; /* Gap between columns */
  row-gap: 10px; /* Gap between rows */
  font-family: 'PT Mono', monospace;
  color: rgb(157, 0, 255);
  font-size: 36px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container3 {
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 5px; /* Gap between columns */
  row-gap: 5px; /* Gap between rows */
  color: #000000;
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.item {
  margin: 0px;
  width: 100%;
  height: 580px;
}

.item1 {
  background-color: #ffffff;
  transition: opacity 0.5s ease-in-out;
}
.item1:hover {
  color: rgb(157, 0, 255);
  transition: opacity 0.5s ease-in-out;
}

.item2 {
  background-color:  #ffffff;
}
.item2:hover {
  color: rgb(255, 119, 0);
  transition: opacity 0.5s ease-in-out;
}



footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333 !important; /* Ensures the background color is not overridden */
  color: white !important; /* Ensures the text color is not overridden */
  text-align: center;
  font-family: 'Arial', sans-serif !important; /* Use a common font to avoid discrepancies */
  font-size: 14px !important; /* Ensures the font size is not overridden */
  z-index: 1000;
  word-spacing: 0px;
  letter-spacing: 0px;
  text-shadow: 0px 0px #787878;
  padding: 1em;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; /* Improves text rendering in Webkit browsers (Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale; /* Improves text rendering in Firefox */
  border-top: 1px solid #444; /* Adds a border top for design, if needed */
}


#navstyle {
  display: flex;
  justify-content: space-between;
}


.navstylebutton {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30%;
  min-height: 20px;
  min-width: 0;
  outline: none;
  padding: 13px 21px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.navstylebutton:disabled {
  pointer-events: none;
}

.navstylebutton:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.navstylebutton:active {
  box-shadow: none;
  transform: translateY(0);
}


@media (min-width: 0px) {
  .responsive-image {
    width: 100%;
    height: auto;
    max-width: 750px;
 }
}

/* Tablet breakpoint */
@media (min-width: 768px) {
  .container3 {
    grid-template-columns: 1fr 1fr; 
    column-gap: 10px; 
    row-gap: 10px; 
}
.responsive-image {
  width: 100%;
  height: auto;
  max-width: 750px;
}

  
}

/* Desktop breakpoint */
@media (min-width: 992px) {
  .container3 {
  grid-template-columns: 1fr 1fr 1fr; 
  column-gap: 10px; 
  row-gap: 10px; 
}
.responsive-image {
  width: 100%;
  height: auto;
  max-width: 750px;
}

}


/* Desktop breakpoint */
@media (min-width: 1240px) {
  .container3 {
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  column-gap: 10px; 
  row-gap: 10px; 
}
.responsive-image {
  width: 100%;
  height: auto;
  max-width: 1000px; /* 이미지 최대 너비 지정 */
}

}



/* Wide screen breakpoint */
@media (min-width: 1500px) {

  .container3 {
    grid-template-columns: repeat(5, 1fr); 
    column-gap: 10px; 
    row-gap: 10px; 
}
.responsive-image {
  width: 100%;
  height: auto;
  max-width: 1000px; /* 이미지 최대 너비 지정 */
}
}
