h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(255, 162, 0);
    font-size: 50px;
}
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(255, 162, 0);
    font-size: 50px;
}


p {
    font-family: arial;
    color: aqua;
    font-size: 30px;
}