* {
    padding: 0px;
    margin: 0px;
}

header {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
	text-transform: uppercase;
	display: block;
	font-size: 100px;
	text-align: center;
}

h2 {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
	text-transform: uppercase;
	display: block;
	font-size: 50px;
	text-align: center;
}

h3 {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
	text-transform: uppercase;
	display: block;
	font-size: 50px;
	text-align: center;
  color:#004813;;
}

h4 {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
	text-transform: uppercase;
	display: block;
	font-size: 20px;
	text-align: center;
  color:#ffffff;;
}

h5 {
  font-family: Tahoma;
	display: block;
	font-size: 30px;
	text-align: center;
  color:#ffffff;;
}

body {
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 38px;
    line-height: 1.4;
    background-color: #004813;
}

.content {
  font-family: Tahoma;
  max-width: 1000px;
  padding: 100px 30px;
  margin: auto;
  font-weight: 300;
}

.content p {
  font-family: Tahoma;
  margin-bottom: 80px;
  position: relative;
}


.allcaps {
  font-family: Tahoma;
  font-size: 37px;
  letter-spacing: 2px;
}


.long-way {
  font-family: Tahoma;
  font-style: italic;
  transition: all 10s ease-in-out;
  color: #ffffff;
}

.long-way:hover {
  font-family: Tahoma;
  cursor: pointer;
  font-size: 2em;
}

.simplelink {
  font-family: Tahoma;
  text-decoration: none;
  color: #000;
  background-color: #f2e1ff;
  transition: all 0.1s ease;
}

.simplelink:hover {
  font-family: Tahoma;
  background-color: rgb(255, 136, 0);
}

.gradient-fill {
  background: rgb(142, 0, 135);
  background: radial-gradient(circle, rgb(223, 63, 251) 0%, rgb(255, 104, 250) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.8s ease;
}

.gradient-fill:hover {
  background: rgb(251, 154, 63);
  background: radial-gradient(circle, rgb(255, 126, 6) 0%, rgb(255, 139, 31) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.sad-cursor {
  color: rgb(157, 28, 255);
}

.sad-cursor {
  cursor: url(/entries/entry4/final/img/sad-cursor.png), auto;
}

.smile-cursor {
  color: rgb(255, 144, 26);
}

.smile-cursor {
  cursor: url(/entries/entry4/final/img/smile-cursor.png), auto;
}


.regretful {
  background-color: #a200ff;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

.regretful:hover {
  cursor: pointer;
  background: linear-gradient(270deg, #ff00f5, #be6aff, #f2a4ff, #78078f, #ea00ff);
  background-size: 1000% 1000%;

  -webkit-animation: slideBackground 2s ease infinite;
  -moz-animation: slideBackground 2s ease infinite;
  animation: slideBackground 2s ease infinite;
}

.satisfied {
  background-color: #ff7b00;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

.satisfied:hover {
  cursor: pointer;
  background: linear-gradient(270deg, #ffa200, #ffda36, #ffdfa4, #f5b11d, #e8a406);
  background-size: 1000% 1000%;

  -webkit-animation: slideBackground 2s ease infinite;
  -moz-animation: slideBackground 2s ease infinite;
  animation: slideBackground 2s ease infinite;
}

    @-webkit-keyframes slideBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes slideBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes slideBackground {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

/* second paragraph - hovers */

.fillrect {
  border: 1px solid #3fff00;
  padding: 0 10px;
  transition: all 0.5s ease;
}

.fillrect:hover {
  background-color: #3fff00;
  cursor: pointer;
}

.fakelink {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
  border-bottom: 2px solid;
  font-size: 100px;
  color: #ffffff;
}

.fakelink:hover {
  border-bottom: 2px dotted;
  cursor: pointer;
}

.doritos {
margin-top: 60px;
transition: all 0.5s ease;
}

.doritos:hover {
  -webkit-transform: rotate(-360deg) scale(2);
  transform: rotate(-360deg) scale(2);
  cursor: pointer;
}


.alternate:nth-child(odd) {
  font-family: Tahoma;
  color: 004813(255, 0, 0);
  transition: all 2s linear;
}

.alternate:nth-child(odd):hover {
  background-color: rgb(170, 0, 182);
  cursor: pointer;
}

/* Add media query for smaller screens */
@media screen and (max-width: 768px) {
    header, h2, h3, h4 {
        font-size: 1.5em; 
    }

    h5, body{
      font-size: 0.5em; 
  }
  
  .fakelink {
    font-size: 1em; 
}

}

.content {
    font-family: Tahoma;
    max-width: 1000px;
    padding: 4.17em 1em; 
    margin: auto;
    font-weight: 300;
}

.content p {
    font-family: Tahoma;
    margin-bottom: 2em; 
    position: relative;
}
